.App {
  text-align: center;
  border: 2px solid black;
  height: 300px;
  width: 500px;
  position: relative;
  top: 100px;
  left: 400px;
  padding: 10px;
  margin: 20px;
  
}
.Dropdown{
  position: relative;
  left: 150px;
  bottom: 20px;
  width: 200px;
  height: 25px;
  
}
