.span{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}
.Weather{
    padding: 20px;
}
.Border{
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
}
.Alignment{
    text-align: left;
}